
/* Hides the unfilled complete icon and shows the filled complete icon on hover */
#completeButton img#unfilledCompleteIcon {
	display: inline;
}
#completeButton:hover img#unfilledCompleteIcon {
	display: none;
}

#completeButton img#filledCompleteIcon {
	display: none;
}
#completeButton:hover img#filledCompleteIcon {
	display: inline;
}

/* Displays progress of task through linear gradient */
#taskDescription {
  background: linear-gradient(
		to right,
		var(--accent-color) 50%,
		var(--text-color) 50%
	);
	background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;

	background-size: 200%;
	background-position: calc(100% - var(--progress, 0%));
	transition: background-position 0.2s ease-in-out;

	margin-bottom: var(--margin-medium);
}

#taskNextStep {
	margin-top: var(--margin-medium);
	margin-bottom: var(--margin-small);
}

#taskControls {
	height:initial;

	display: flex;
	justify-content: center;

	margin: 0;

	margin-bottom: var(--margin-medium);
}

#skipButton .tooltip {
	top: var(--margin-large);
}
#completeButton .tooltip {
	margin-left: -1.4rem;
	top: var(--margin-large);
}