
/* Hides the unfilled complete icon and shows the filled complete icon on hover */
#completeButton img#unfilledCompleteIcon {
	display: inline;
}
#completeButton:hover img#unfilledCompleteIcon {
	display: none;
}

#completeButton img#filledCompleteIcon {
	display: none;
}
#completeButton:hover img#filledCompleteIcon {
	display: inline;
}

:host {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

#taskDescription, #taskNextStep {
	border: 0;
}

#taskNextStep {
	background: none;
}

.progress-bar {
  background: linear-gradient(
		to right,
		var(--accent-color) 50%,
		var(--text-color) 50%
	);
	background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;

	background-size: 200%;
	background-position: calc(100% - var(--progress, 0%));
	transition: background-position 0.2s ease-in-out;
}

#taskControls {
	height:initial;

	display: flex;
	justify-content: center;

	margin: var(--margin-small);
	gap: var(--margin-medium);
}

#taskControls * {
	display: flex;
	align-items: center;
	justify-content: center;
	margin: 0;
}

.tooltip {
	top: var(--margin-xlarge);
}