
<h1
	id="taskDescription"
	contenteditable
	[textContent]="getDescription()"
	(input)="onDescriptionChange($event)"
	[style.--progress]="getProgressPercentage()"
> </h1>
<h2
	*ngIf="hasSteps()"
	contenteditable
	[textContent]="getNextStep()"
	(input)="onNextStepChange($event)"
>
</h2>

<p *ngIf="this.timeLeft">{{ this.timeLeft }}</p>
<button *ngIf="isSkippable()" class="icon-button" (click)="skip()">
	<img src="assets/skip-icon.svg" alt="Skip">
</button>
<button id="completeButton" class="icon-button" (click)="complete()">
	<img id="unfilledCompleteIcon" src="assets/complete-unfilled-icon.svg" alt="Complete">
	<img id="filledCompleteIcon" src="assets/complete-filled-icon.svg" alt="Complete">
</button>

<p>
	{{ task.getProgress() * 100 | number : '1.0-0' }}%<br>
	{{ task.getIsMandatory() ? "MANDATORY" : "" }}<br>
	Earliest start time: {{ task.getEarliestStartTime() | date: 'medium' }}<br>
	Deadline: {{ task.getDeadline() | date: 'medium' }}<br>
	Min duration: {{ task.getMinRequiredTime() | timeFormatter }}<br>
	Max duration: {{ task.getMaxRequiredTime(this.currentTime) | timeFormatter }}<br>
	<br>
	Is complete: {{ task.getIsComplete() }}<br>
	Min Slack Time: {{ task.getMinSlackTime(this.currentTime) | timeFormatter}}<br>
	Max Slack Time: {{ task.getMaxSlackTime(this.currentTime) | timeFormatter}}<br>
	Total time left: {{ task.getTimeToComplete(this.currentTime) | timeFormatter }}<br>

</p>