<div id="taskDescriptionContainer">
	<h1
		shrinkToFit
		id="taskDescription"
		class="progress-bar"
		contenteditable
		[textContent]="getDescription()"
		(input)="onDescriptionChange($event)"
		[style.--progress]="getProgressPercentage()"
	> </h1>
</div>
<h2
	id="taskNextStep"
	*ngIf="hasSteps()"
	contenteditable
	[textContent]="getNextStep()"
	(input)="onNextStepChange($event)"
>
</h2>

<div id="taskControls">
	<p
		*ngIf="this.timeLeft"
		class="popup-opener"
		(click)="openPopup()"
		(keyDown)="openPopup()"
	>{{ this.timeLeft }}</p>

	<button
		id="skipButton"
		*ngIf="isSkippable()"
		class="icon-button"
		(click)="skip()"
	>
		<img src="assets/skip-icon.svg" alt="Skip">
		<span class="tooltip">Skip</span>
	</button>

	<button
		id="completeButton"
		class="icon-button"
		(click)="complete()"
	>
		<img id="unfilledCompleteIcon" src="assets/complete-unfilled-icon.svg" alt="Complete">
		<img id="filledCompleteIcon" src="assets/complete-filled-icon.svg" alt="Complete">
		<span class="tooltip">Complete</span>
	</button>
</div>


<datetime-popup
	*ngIf="isPopupOpen"
	(closePopup)="closePopup()"
	(startTimeSelected)="changeStartTime($event)"
	(deadlineSelected)="changeDeadline($event)"
	[oldStartTime]="getStartTime()"
	[oldDeadline]="getDeadline()"
>
</datetime-popup>