
<h1
	contenteditable
	[textContent]="getDescription()"
	(input)="onDescriptionChange($event)"
> </h1>
<p
	*ngIf="hasSteps()"
	contenteditable
	[textContent]="getNextStep()"
	(input)="onNextStepChange($event)"
>
</p>

<p *ngIf="this.timeLeft">{{ this.timeLeft }}</p>
<button *ngIf="isSkippable()" (click)="skip()">Skip</button>
<button (click)="complete()">Complete</button>

<p>
	{{ task.getProgress() * 100 | number : '1.0-0' }}%<br>
	{{ task.getIsMandatory() ? "MANDATORY" : "" }}<br>
	Earliest start time: {{ task.getEarliestStartTime() | date: 'medium' }}<br>
	Deadline: {{ task.getDeadline() | date: 'medium' }}<br>
	Min duration: {{ task.getMinRequiredTime() | timeFormatter }}<br>
	Max duration: {{ task.getMaxRequiredTime(this.currentTime) | timeFormatter }}<br>
	<br>
	Is complete: {{ task.getIsComplete() }}<br>
	Min Slack Time: {{ task.getMinSlackTime(this.currentTime) | timeFormatter}}<br>
	Max Slack Time: {{ task.getMaxSlackTime(this.currentTime) | timeFormatter}}<br>
	Total time left: {{ task.getTimeToComplete(this.currentTime) | timeFormatter }}<br>

</p>