.list {
	display: flex;
	flex-direction: column;
	gap: var(--space-extra-small);
}

.row {
	display: flex;
	align-items: center;
	gap: var(--space-small);
}

.input {
	flex: 1;
	min-width: 0;
}

.rowPrefixSpacer {
	width: 1rem;
	flex-shrink: 0;
}

.removeButton {
	height: 1.75rem;
}

.removeIcon {
	width: 1rem;
	height: 1rem;
}