table {
	margin-top: calc(var(--font-size-medium) + 3*var(--margin-small));
}

#taskHeader,
.task-item {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #00000020;
	padding: 0 calc(2 * var(--margin-large));
}

.task-header-item p {
	font-size: var(--font-size-medium);
	line-height: var(--line-height-medium);
	font-weight: 600;

	padding: 0;
	margin: 0;
}

.checkbox-column {
	width: calc(var(--margin-large)*2 + var(--margin-small));
}

#stepsDisplayButton {
	margin: 0;
}
#stepsDisplayButton img#displayStepsIcon {
	display: inline;
}
#stepsDisplayButton img#hideStepsIcon {
	display: none;
}

#stepsDisplayButton:active img#displayStepsIcon {
	display: none;
}
#stepsDisplayButton:active img#hideStepsIcon {
	display: inline;
}

.description-column {
	display: flex;
	align-items: center;
	justify-content: flex-start;

	max-width: 12em;
}

.description-column * {
	background: none;
	border: none;
}

.description-column, .description-column * {
	overflow-x: scroll;
	scrollbar-width: none;
	text-wrap: nowrap;
}

td div,th div {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: flex-start;
	gap: var(--margin-small);
}


.steps-column {
	max-width: 16em;
	overflow-x: scroll;
	scrollbar-width: none;
}

.steps-preview-container .step-input {
	height: 100%;
	max-width: 8em;
	margin: 0;

	background: none;
	border: none;

	overflow-x: scroll;
	scrollbar-width: none;
	text-wrap: nowrap;

	font-size: var(--font-size-xsmall);

	padding: 0 var(--margin-xsmall);
	margin-left: var(-margin-xsmall);
	margin-right: var(--margin-small);

	background-color: rgba(0, 0, 0, 0.03);
}

.steps-preview-container p:nth-child(2n) {
	background-color: rgba(0, 0, 0, 0.05);
}

.table-time-value {
	padding: var(--margin-xsmall) var(--margin-small);
	width: min-content;
	margin: 0;

	background-color: rgba(0, 0, 0, 0.08);
}

.deadline-value, .deadline-label {
	color: #423848;
}

.deadline-value {
	background-color: rgba(255, 0, 0, 0.1);
}

.middle-label {
	margin: 0;
	padding: 0;
}

.repeat-column div {
	gap: 0.25em;
}

.delete-button, .edit-button {
	opacity: 50%;
	margin: 0;
	padding: 0;
}