#taskHeader,
.task-item {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #00000020;
	padding: 0 calc(2 * var(--margin-large));
}

.task-header-item {
	font-size: var(--font-size-medium);
	line-height: var(--line-height-medium);
	margin: var(--margin-small);
	font-weight: 600;
}