
<button
	id="goToFocusButton"
	class="fade-in-on-hover icon-button corner-button"
	[routerLink]="['/']"
>
	<img src="assets/assistant.svg" alt="To Task Focus">
	<span class="tooltip">To Task Focus</span>
</button>

<header id="taskHeader">
	<h2 class="task-header-item">Name</h2>
	<h2 class="task-header-item">Steps</h2>
	<h2 class="task-header-item">Start Time</h2>
	<h2 class="task-header-item">Deadline</h2>
	<h2 class="task-header-item">Duration</h2>
	<h2 class="task-header-item">Repeat</h2>
	<h2 class="task-header-item">Mandatory</h2>
	<h2 class="task-header-item">Complete</h2>
</header>

<!-- Example Display: Do Dishes | Preview of first step | Jul 24 2023 5PM | 8PM | 30 min - 4 hours | Daily | ! | ✅ -->

<div
	id="taskList"
>
	<!-- <task-item
		*ngFor="let task of getTasks()"
		[task]="task"
		class="task-item"
	>
	</task-item> -->
</div>
