<button
	id="goToFocusButton"
	class="fade-in-on-hover icon-button row-corner-button"
	[routerLink]="['/']"
>
	<img src="assets/magnify-check-icon.svg" alt="To Task Focus">
	<span class="tooltip">To Task Focus</span>
</button>

<button
	id="createTaskButton"
	class="fade-in-on-hover icon-button row-corner-button"
	[routerLink]="['/create-task']"
>
	<img src="assets/plus-icon.svg" alt="Create Task">
	<span class="tooltip">Create Task</span>
</button>

<button
	id="toggleFilterButton"
	class="fade-in-on-hover icon-button row-corner-button"
	(click)="toggleFliter()"
>
	<img src="assets/filter-icon.svg" alt="Toggle Filters">
	<span class="tooltip">Toggle Filters</span>
</button>

<table data-vertable="ver6">
	<thead>
		<tr id="task-header">
			<th class="task-header-item checkbox-column">
				<button
					class="icon-button"
					(click)="toggleColumnSort($event, 0)"
				>
					<img class="unsorted" src="assets/clock-icon.svg" alt="Sort Column">
					<img class="sorted-ascending" src="assets/clock-sort-ascending-icon.svg" alt="Sort Column">
					<img class="sorted-descending" src="assets/clock-sort-descending-icon.svg" alt="Sort Column">
				</button>
			</th>
			<th class="task-header-item description-column">
				<div>
					<p>Name</p>
					<button
						class="icon-button"
						(click)="toggleColumnSort($event, 1)"
					>
						<img class="unsorted" src="assets/sort-lines-icon.svg" alt="Sort Column">
						<img class="sorted-ascending" src="assets/sort-ascending-icon.svg" alt="Sort Column">
						<img class="sorted-descending" src="assets/sort-descending-icon.svg" alt="Sort Column">
					</button>
				</div>
			</th>
			<th class="task-header-item steps-column">
				<div>
					<p>Steps</p>
					<button
						class="icon-button"
						(click)="toggleColumnSort($event, 2)"
					>
						<img class="unsorted" src="assets/sort-lines-icon.svg" alt="Sort Column">
						<img class="sorted-ascending" src="assets/sort-ascending-icon.svg" alt="Sort Column">
						<img class="sorted-descending" src="assets/sort-descending-icon.svg" alt="Sort Column">
					</button>
				</div>
			</th>
			<th class="task-header-item time-available-column">
				<div>
					<p>Time Available</p>
					<button
						class="icon-button"
						(click)="toggleColumnSort($event, 3)"
					>
						<img class="unsorted" src="assets/sort-lines-icon.svg" alt="Sort Column">
						<img class="sorted-ascending" src="assets/sort-ascending-icon.svg" alt="Sort Column">
						<img class="sorted-descending" src="assets/sort-descending-icon.svg" alt="Sort Column">
					</button>
				</div>
			</th>
			<th class="task-header-item duration-column">
				<div>
					<p>Duration</p>
					<button
						class="icon-button"
						(click)="toggleColumnSort($event, 4)"
					>
						<img class="unsorted" src="assets/sort-lines-icon.svg" alt="Sort Column">
						<img class="sorted-ascending" src="assets/sort-ascending-icon.svg" alt="Sort Column">
						<img class="sorted-descending" src="assets/sort-descending-icon.svg" alt="Sort Column">
					</button>
				</div>
			</th>
			<th class="task-header-item repeat-column">
				<div>
					<p>Repeat</p>
					<button
						class="icon-button"
						(click)="toggleColumnSort($event, 5)"
					>
						<img class="unsorted" src="assets/sort-lines-icon.svg" alt="Sort Column">
						<img class="sorted-ascending" src="assets/sort-ascending-icon.svg" alt="Sort Column">
						<img class="sorted-descending" src="assets/sort-descending-icon.svg" alt="Sort Column">
					</button>
				</div>
			</th>
			<th class="task-header-item action-column"></th>
		</tr>
	</thead>
	<tbody>
		<tr class="task-row" *ngFor="let task of getTasks();">
			<td class="task-row-item checkbox-column">
				<div>
					<checkbox-input
						class="completedCheckbox"
						[initialValue]="task.getIsComplete()"
						(onInputChange)="onCompleteChange(task, $event)"
					></checkbox-input>
					<checkbox-input
						class="mandatoryCheckbox"
						[initialValue]="task.getIsMandatory()"
						(onInputChange)="onMandatoryChange(task, $event)"
					></checkbox-input>
				</div>
			</td>
			<td class="task-row-item description-column">
				<text-input
					class="description-input"
					[initialValue]="task.getDescription()"
					(onInputChange)="onDescriptionChange(task, $event)"
				>
				</text-input>
			</td>
			<td class="task-row-item steps-column">
				<div class="steps-preview-container flex-row">
					<div
						class="flex-row step-container"
						*ngFor="let step of task.getSteps();  let index = index; trackBy: trackStepByIndex"
					>
						<checkbox-input
							class="stepCompletedCheckbox"
							[initialValue]="task.isStepComplete(step)"
							(onInputChange)="onStepCompleteChange(task, step, $event)"
						></checkbox-input>
						<text-input
							class="step-item step-input"
							[ngClass]="{'completed': task.isStepComplete(step)}"
							[initialValue]="step"
							(onInputChange)="onStepChange(task, step, $event)"
						>
						</text-input>
					</div>
				</div>
			</td>
			<td class="task-row-item time-available-column">
				<div>
					<p *ngIf="!willTaskBeAlwaysAvailable(task)" class="table-time-value">
						{{this.getTaskStartTime(task) | dateFormatter:'Now'}}
					</p>
					<p *ngIf="task.getDeadline()" class="middle-label deadline-label">
						{{ !willTaskBeAlwaysAvailable(task) ? "due" : "Due" }}
					</p>
					<p *ngIf="task.getDeadline()" class="table-time-value deadline-value">{{task.getDeadline() | dateFormatter:'None'}}</p>
					<p *ngIf="task.getEndTime()" class="middle-label"> until </p>
					<p *ngIf="task.getEndTime()" class="table-time-value end-time-value">
						{{task.getEndTime() | dateFormatter:'Forever'}}
					</p>
				</div>
			</td>
			<td class="task-row-item duration-column">
				<div>
					<p class="table-time-value">
						{{ getDurationRangeStrings(
							task.getMinRequiredTime(),
							task.getMaxRequiredTime(getCurrentTime())
						)[0] }}
					</p>
					<p *ngIf="!task.hasSingletonDuration() && task.hasMaxRequiredTime()" class="middle-label">to</p>
					<p *ngIf="!task.hasSingletonDuration() && task.hasMaxRequiredTime()" class="table-time-value">
						{{ getDurationRangeStrings(
							task.getMinRequiredTime(),
							task.getMaxRequiredTime(getCurrentTime())
						)[1] }}
					</p>
				</div>
			</td>
			<td class="task-row-item repeat-column">
				<div *ngIf="task.isRecurring()">
					<p class="middle-label">Every</p>
					<p class="table-time-value">
						{{ toDurationString(task.getRepeatInterval()!) | titlecase }}
					</p>
				</div>
			</td>
			<td class="task-row-item action-column">
				<div>
					<button
						#editButton
						id="editButton"
						class="icon-button edit-button"
						(click)="openTimingOptionsPopup(task)"
						(keyDown)="openTimingOptionsPopup(task)"
					>
						<img src="assets/pencil-icon.svg" alt="Edit">
					</button>
					<button
						#deleteButton
						id="deleteButton"
						class="icon-button delete-button"
						(click)="deleteTask(task)"
					>
						<img src="assets/delete-icon.svg" alt="Delete">
					</button>
				</div>
			</td>
		</tr>
	</tbody>
</table>

<task-timing-options-popup
	#timingOptionsPopup
>
</task-timing-options-popup>