<button
	id="goToFocusButton"
	class="fade-in-on-hover icon-button corner-button"
	[routerLink]="['/']"
>
	<img src="assets/assistant.svg" alt="To Task Focus">
	<span class="tooltip">To Task Focus</span>
</button>

<div class="input-row">
	<text-input
		id="taskDescription"
		class="xlarge-text"
		contenteditable
		placeholder="Enter the task name"
		(onInputChange)="onNameChange($event)"
	></text-input>
	<button
		id="confirmButton"
		*ngIf="name !== null"
		class="icon-button"
		(click)="confirmName()"
	>
		<img src="assets/check-icon.svg" alt="Confirm">
		<span class="tooltip">Confirm</span>
	</button>
</div>
<div class="input-row">
	<text-input
		id="taskNextStep"
		class="large-text"
		type="text"
		contenteditable
		placeholder="Enter a step to complete the task"
		(onInputChange)="onStepChange($event)"
	></text-input>

	<button
		id="confirmButton"
		*ngIf="step !== null"
		class="icon-button"
		(click)="confirmStep()"
	>
		<img src="assets/check-icon.svg" alt="Confirm">
		<span class="tooltip">Confirm</span>
	</button>
</div>
<div class="input-row">
	<h3 class="input-label">Start Time</h3>
	<datetime-input
		id="startTimeInput"
		(onInputChange)="onStartTimeChange($event)"
	></datetime-input>
</div>
<div class="input-row">
	<h3 class="input-label">Deadline</h3>
	<datetime-input
		id="deadlineInput"
		(onInputChange)="onDeadlineChange($event)"
	></datetime-input>
</div>
<div class="input-row">
	<h3 class="input-label">Duration</h3>
	<duration-input
		id="durationInput"
		(onInputChange)="onDurationChange($event)"
	></duration-input>
</div>
<div class="input-row">
	<h3 class="input-label">Repeat Interval</h3>
	<text-input
		placeholder="Enter number"
	></text-input>
	<!-- <input
		id="repeatInput"
		type="time"
		(change)="onRepeatChange($event)"
	> -->
</div>
<div class="input-row">
	<h3 class="input-label">Mandatory?</h3>
	<!-- <input
		id="mandatoryInput"
		type="checkbox"
		(change)="onMandatoryChange($event)"
	> -->
</div>
