:host, .input-column {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: var(--margin-medium);
}

#taskTimingOptionsInput {
	width: 80%;
	flex-direction: row;
	flex-wrap: wrap;
	column-gap: var(--margin-xlarge);
	row-gap: var(--margin-large);
}

:host {
	margin: var(--margin-xlarge) 0;
	gap: var(--margin-xxlarge);
}

#taskDescription {
	filter: drop-shadow(0 0 var(--shadow-radius-xlarge) var(--slight-text-color));
}

#taskNextStep {
	filter: drop-shadow(0 0 var(--shadow-radius-large) var(--slight-text-color));

	flex-grow: 4;
}

.input-column#createdSteps {
	gap: var(--margin-xsmall)
}

.task-step-input {
	padding: var(--margin-xsmall);
}

.confirm-button {
	flex-grow: 1;
}

.delete-button {
	width: var(--font-size-small);
	height: var(--font-size-small);
}

.input-row {
	display: flex;
	justify-content: center;
	align-items: center;

	flex-wrap: wrap;

	max-width: var(--width-without-controls);
	gap: 0 var(--margin-small);
}
