<button
	id="leaveFocusButton"
	class="fade-in-on-hover icon-button corner-button"
	[routerLink]="['/tasks']"
>
	<img src="assets/checklist-icon.svg" alt="Manage Tasks">
	<span class="tooltip">Manage Tasks</span>
</button>

<button
	id="goToFocusButton"
	class="fade-in-on-hover icon-button corner-button"
	[routerLink]="['/']"
>
	<img src="assets/magnify-check-icon.svg" alt="To Task Focus">
	<span class="tooltip">To Task Focus</span>
</button>

<section class="input-column">
	<div class="input-row">
		<text-input
			#taskDescriptionInput
			id="taskDescriptionInput"
			class="xlarge-text"
			contenteditable
			placeholder="Enter your task's name"
			(onInputChange)="onNameChange($event)"
		></text-input>
	</div>
	<array-input
		#taskCreatedStepsInput
		id="createdSteps"
		class="input-column"
		[initialValue]="steps"
		(onInputChange)="onCreatedStepsChange($event)"
	></array-input>
	<div class="input-row">
		<text-input
			#taskNextStepInput
			id="taskNextStepInput"
			class="large-text"
			placeholder="Enter the next step needed to complete the task"
			(onInputChange)="onNextStepChange($event)"
			(keydown)="onNextStepKeydown($event)"
		>
		</text-input>

		<button
			class="confirm-button"
			*ngIf="nextStep !== null"
			class="icon-button"
			(click)="confirmStep()"
		>
			<img src="assets/check-icon.svg" alt="Confirm">
		</button>
	</div>
</section>

<task-timing-options-input
	id="taskTimingOptionsInput"
	class="input-column"
	#taskTimingOptionsInput
	[initialValue]="getDefaultTimingOptions()"
	(onInputChange)="onTimingOptionsChange($event)"
></task-timing-options-input>
<div class="flex-row">
	<button
		class="medium-text"
		(click)="onCreateTaskButton()"
	>Create Task</button>
	<button
		class="icon-button"
		(click)="clearAll()"
	>
		<img src="assets/close-icon.svg" alt="Clear">
	</button>
</div>
