/* Displays progress of task through linear gradient */
/* #taskDescription {
	width: clamp(var(--font-size-large), min-content, var(--font-size-xlarge));
	color: var(--text-color);
	margin-bottom: var(--margin-medium);
	font-family: 'Montserrat', sans-serif;
	font-weight: 800;
	font-size: var(--font-size-xlarge);
	line-height: var(--line-height-xlarge);
	padding: var(--margin-xlarge);
	border: 0;
}

#taskNextStep {
	width: min-content;
	margin-top: var(--margin-medium);
	margin-bottom: var(--margin-small);
	font-weight: normal;
	font-size: var(--font-size-large);
	line-height: var(--line-height-large);
	border: 0;
} */

:host, section {
	display: flex;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

:host {
	margin: var(--margin-xlarge) 0;
	gap: var(--margin-xxlarge);
}

section {
	gap: var(--margin-large);
}

#taskDescription {
	filter: drop-shadow(0 0 var(--shadow-radius-xlarge) var(--slight-text-color));
}

#taskNextStep {
	filter: drop-shadow(0 0 var(--shadow-radius-large) var(--slight-text-color));

	flex-grow: 4;
}

section#createdSteps {
	gap: var(--margin-xsmall)
}

.task-step-input {
	padding: var(--margin-xsmall);
}

.confirm-button {
	flex-grow: 1;
}

.delete-button {
	width: var(--font-size-small);
	height: var(--font-size-small);
}

.input-row {
	display: flex;
	justify-content: center;
	align-items: center;

	flex-wrap: wrap;

	max-width: var(--width-without-controls);
	gap: 0 var(--margin-small);
}

.input-row * {
	margin: 0 !important;
}
