<!-- Routes to tasks manager page -->
<button
	id="leaveFocusButton"
	class="fade-in-on-hover icon-button corner-button"
	[routerLink]="['/tasks']"
>
	<img src="assets/arrow-left-icon.svg" alt="Leave">
	<span class="tooltip">Leave</span>
</button>

<button
	id="createTaskButton"
	class="fade-in-on-hover icon-button corner-button"
	[routerLink]="['/create-task']"
>
	<img src="assets/plus-icon.svg" alt="Create Task">
	<span class="tooltip">Create Task</span>
</button>

<button
	id="undoButton"
	class="fade-in-on-hover icon-button corner-button"
	(click)="undo()"
>
	<img src="assets/undo-icon.svg" alt="Leave">
	<span class="tooltip">Undo</span>
</button>

<button
	id="redoButton"
	class="fade-in-on-hover icon-button corner-button"
	(click)="redo()"
>
	<img src="assets/redo-icon.svg" alt="Leave">
	<span class="tooltip">Redo</span>
</button>

<task
	*ngIf="getNextTask()"
	[task]="getNextTask()!"
	(taskSkipped)="onTaskSkipped($event)"
	(taskCompleted)="onTaskCompleted($event)"
></task>