.page {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	min-height: 100%;
	padding: var(--space-extra-large);
}

.emptyState {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: var(--space-large);
	width: 100%;
}

.emptyStateText {
	color: var(--color-text-subtle);
	font-size: var(--font-size-large);
}
