<div class="flex-row">
	<number-input
		#durationValueInput
		(keydown)="onKeyDown($event)"
		placeholder="0"
		[initialValue]="amountOfUnit"
		(onInputChange)="onTimeValueChange($event)"
	></number-input>
	<select-input
		#durationUnitInput
		[initialValue]="unit"
		[options]="unitOptions"
		(onInputChange)="onUnitChange($event)"
	></select-input>
</div>
<div class="input-helper-buttons">
	<button
		class="icon-button"
		(click)="incrementBy(1)"
	>
		<img src="assets/positive-1-icon.svg" alt="Add 1">
	</button>
	<button
		class="icon-button"
		(click)="incrementBy(-1)"
	>
		<img src="assets/negative-1-icon.svg" alt="Substract 1">
	</button>
	<button
		class="icon-button"
		(click)="incrementBy(10)"
	>
		<img src="assets/plus-ten-circle-icon.svg" alt="Add 10">
	</button>
	<button
		class="icon-button"
		(click)="incrementBy(-10)"
	>
		<img src="assets/minus-ten-circle-icon.svg" alt="Substract 10">
	</button>
	<button
		class="icon-button"
		(click)="setValue(null)"
	>
		<img src="assets/close-icon.svg" alt="Clear Duration">
	</button>
</div>