<div class="overlay"></div>
<div class="popup">
	<div class="input-control-group">
		<task-timing-options-input
			[initialValue]="oldTimingOptions"
			(onInputChange)="onInputChange($event)"
		></task-timing-options-input>
	</div>
	<div id="buttons">
		<button
			id="confirmButton"
			*ngIf="newTimingOptions !== null"
			class="icon-button"
			(click)="confirm()"
			(keyDown)="confirm()"
		>
			<img src="assets/check-icon.svg" alt="Confirm">
			<span class="tooltip">Confirm</span>
		</button>

		<button
			id="closeButton"
			class="icon-button"
			(click)="close()"
		>
			<img src="assets/close-icon.svg" alt="Close">
			<span class="tooltip">Close</span>
		</button>
	</div>
</div>
