.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent black */
  z-index: 999; /* Below the popup but above the rest of the content */
}

.popup {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;

	gap: var(--margin-small);
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: var(--light-background-color);
  z-index: 1000;
	border-radius: var(--border-radius-large);
	padding: var(--margin-medium) var(--margin-medium);
	width: clamp(
		calc(var(--font-size-large)*3)
		calc(100% - 80px),
		calc(var(--font-size-large)*15)
	);
}

.controls-container {
	display: flex;
	justify-content: space-between;
}

.input-control-group {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	padding: 0.4rem 0.2rem;
}

h2 {
	font-family: 'Montserrat', sans-serif;
	font-weight: 700;
	font-size: var(--font-size-xmedium);
	line-height: var(--line-height-medium);
	margin: 0;
}

input {
	height: min-content;
	width: 100%;
	font-size: var(--font-size-small);
	border: 0;
	border-radius: var(--border-radius-small);
	border-color: #00000010;
	border-style: solid;
	border-width: 1px;
}

button {
	margin-top: 0;
	margin-bottom: 0;
}

#closeButton .tooltip {
	margin-left: -0.7rem;
	top: 1.3rem;
}

#confirmButton .tooltip {
	margin-left: -1.4em;
	top: 1.3em;
}

#buttons {
	display: flex;
	flex-direction: row;
}