<div class="overlay"></div>
<div class="popup">
	<div class="input-control-group">
		<h2>Start Time</h2>
		<div class="controls-container">
			<input id="startTimeInput" type="datetime-local" [value]="formatDate(oldStartTime)" (change)="onStartTimeChange($event)">
		</div>
	</div>
	<div class="input-control-group">
		<h2>Deadline</h2>
		<div class="controls-container">
			<input id="deadlineInput" type="datetime-local" [value]="formatDate(oldDeadline)" (change)="onDeadlineChange($event)">
		</div>
	</div>
	<div id="buttons">
		<button
			id="confirmButton"
			*ngIf="startTime || deadline"
			class="icon-button"
			(click)="confirm()"
		>
			<img src="assets/check-icon.svg" alt="Confirm">
			<span class="tooltip">Confirm</span>
		</button>

		<button
			id="closeButton"
			class="icon-button"
			(click)="close()"
		>
			<img src="assets/close-icon.svg" alt="Close">
			<span class="tooltip">Close</span>
		</button>
	</div>
</div>
