:host {
	display: flex;
	text-align: left;
}

select:hover {
	background-color: var(--faint-background-color);
	cursor: pointer;
}

.select-option {
	cursor: pointer;
	color: var(--text-color);
	font-style: normal;
}