<div class="main-input">
	<h3 class="input-label">Starts</h3>
	<datetime-input
		#startTimeInput
		id="startTimeInput"
		[initialValue]="enteredValue.startTime"
		(onInputChange)="onStartTimeChange($event)"
	></datetime-input>
</div>
<div class="main-input">
	<h3 class="input-label">Complete By</h3>
	<datetime-input
	#deadlineInput
	id="deadlineInput"
	[initialValue]="enteredValue.deadline"
	(onInputChange)="onDeadlineChange($event)"
	></datetime-input>
</div>
<div class="main-input">
	<h3 class="input-label">Expires</h3>
	<datetime-input
		#endTimeInput
		id="endTimeInput"
		[initialValue]="enteredValue.endTime"
		(onInputChange)="onEndTimeChange($event)"
	></datetime-input>
</div>
<div class="main-input">
	<h3 class="input-label">Minimum Duration</h3>
	<duration-input
		#minDurationInput
		id="minDurationInput"
		[initialValue]="enteredValue.minDuration"
		(onInputChange)="onMinDurationChange($event)"
	></duration-input>
</div>
<div class="main-input">
	<h3 class="input-label">Maximum Duration</h3>
	<duration-input
		#maxDurationInput
		id="maxDurationInput"
		[initialValue]="enteredValue.maxDuration"
		(onInputChange)="onMaxDurationChange($event)"
	></duration-input>
</div>
<div class="main-input">
	<div class="flex-row checkbox-input">
		<checkbox-input
			#hasRepeatIntervalInput
			id="hasRepeatIntervalInput"
			[initialValue]="hasRepeatInterval"
			(onInputChange)="onHasRepeatIntervalChange($event)"
		></checkbox-input>
		<h3 class="input-label">Repeats</h3>
	</div>
	<duration-input
		*ngIf="hasRepeatInterval"
		#repeatIntervalInput
		id="repeatIntervalInput"
		[initialValue]="enteredValue.repeatInterval"
		(onInputChange)="onRepeatChange($event)"
></duration-input>
</div>
<div class="flex-row main-input checkbox-input">
	<checkbox-input
		#mandatoryInput
		id="mandatoryInput"
		[initialValue]="enteredValue.isMandatory"
		(onInputChange)="onMandatoryChange($event)"
	></checkbox-input>
	<h3 class="input-label">Mandatory</h3>
</div>