.input-label {
	padding: 0;
	margin: 0;
}

p {
	margin: 0;
	padding: 0;
}

.main-input {
	gap: var(--margin-medium);

	padding: var(--margin-medium);

	background-color: var(--faint-background-color);

	border-color: var(--faint-text-color);
	border-style: solid;
	border-width: 1px;
	border-radius: var(--border-radius-small);
}

.flex-row {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	gap: var(--margin-small);
}