<div class="flex-column main-input">
	<h3 class="input-label">Time Frame</h3>

	<div class="flex-row">
		<datetime-input
			#startTimeInput
			id="startTimeInput"
			[initialValue]="enteredValue.startTime"
			(onInputChange)="onStartTimeChange($event)"
		></datetime-input>

		<p class="input-separator">to</p>

		<datetime-input
			#endTimeInput
			id="endTimeInput"
			[initialValue]="enteredValue.endTime"
			(onInputChange)="onEndTimeChange($event)"
		></datetime-input>
	</div>
</div><div class="flex-column main-input">
	<h3 class="input-label">Deadline</h3>
	<datetime-input
		#deadlineInput
		id="deadlineInput"
		[initialValue]="enteredValue.deadline"
		(onInputChange)="onDeadlineChange($event)"
	></datetime-input>
</div>
<div class="flex-column main-input">
	<h3 class="input-label">Estimated Required Time</h3>

	<div class="flex-row">
		<duration-input
			#minDurationInput
			id="minDurationInput"
			[initialValue]="enteredValue.minDuration"
			(onInputChange)="onMinDurationChange($event)"
		></duration-input>

		<p class="input-separator">to</p>

		<duration-input
			#maxDurationInput
			id="maxDurationInput"
			[initialValue]="enteredValue.maxDuration"
			(onInputChange)="onMaxDurationChange($event)"
		></duration-input>
	</div>
</div>
<div class="flex-column main-input">
	<div class="flex-row">
		<checkbox-input
			#hasRepeatIntervalInput
			id="hasRepeatIntervalInput"
			[initialValue]="hasRepeatInterval"
			(onInputChange)="onHasRepeatIntervalChange($event)"
		></checkbox-input>
		<h3 class="input-label">Repeat Interval</h3>
	</div>
	<duration-input
		*ngIf="hasRepeatInterval"
		#repeatIntervalInput
		id="repeatIntervalInput"
		[initialValue]="enteredValue.repeatInterval"
		(onInputChange)="onRepeatChange($event)"
></duration-input>
</div>
<div class="flex-row main-input">
	<checkbox-input
		#mandatoryInput
		id="mandatoryInput"
		[initialValue]="enteredValue.isMandatory"
		(onInputChange)="onMandatoryChange($event)"
	></checkbox-input>
	<h3 class="input-label">Mandatory</h3>
</div>