/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Zain:wght@200;300;400;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Zain:wght@200;300;400;700;800;900&display=swap');

:root {
	/* Margin */
	--margin-xsmall: 0.2rem;
	--margin-small: 0.5rem;
	--margin-medium: 0.7rem;
	--margin-large: 1rem;
	--margin-xlarge: 1.6rem;
	--margin-xxlarge: 2.4rem;

  /* Colors */
  --primary-color: #2a7ccd;
  --accent-color: #2ecc71;
  --light-background-color: #f9fbfb;

  --background-color: #f3f7f8;
  --faint-background-color: #ebf1f2;
  --inactive-background-color: #e3e6e6;

  --text-color: #2c3e50;
	--inactive-text-color: #2c3e50a0;
	--faint-text-color: #2c3e5060;
	--slight-text-color: #2c3e5020;

	--icon-color: #000000;

  /* Font sizes */
  --font-size-small: 1rem;
  --font-size-medium: 1.2rem;
  --font-size-xmedium: 1.2rem;
  --font-size-large: 1.7rem;
  --font-size-xlarge: 4.2rem;

	/* Line height */
	--line-height-xsmall: 1rem;
	--line-height-small: 1.25rem;
	--line-height-medium: 1.5rem;
	--line-height-large: 1.9rem;
	--line-height-xlarge: 3.5rem;

	/* Border Radius */
	--border-radius-small: 0.25rem;
	--border-radius-medium: 0.5rem;
	--border-radius-large: 0.8rem;
	--border-radius-xlarge: 1.1rem;

	/* Shadow Radius */
	--shadow-radius-small: 0.15rem;
	--shadow-radius-medium: 0.25rem;
	--shadow-radius-large: 0.32rem;
	--shadow-radius-xlarge: 0.36rem;


	--width-without-controls: calc(100vw - 5*var(--margin-large));
}

* {
	font-family: 'Poppins', sans-serif;
	text-align: center;
	transition: 0.1s ease-out;
}

body {
	display: block;

	font-size: var(--font-size-small);
	color: var(--text-color);
	background-color: var(--background-color);
}

h1, .xlarge-text {
	font-family: 'Montserrat', sans-serif;
	font-weight: 800;
	font-size: var(--font-size-xlarge);
	line-height: var(--line-height-xlarge);

	padding: var(--margin-xlarge) !important;
	border-radius: var(--border-radius-xlarge) !important;
	border-width: 4px !important;
}

h2, .large-text {
	font-weight: normal;
	font-size: var(--font-size-large);
	line-height: var(--line-height-large);

	padding: var(--margin-large) !important;
	border-radius: var(--border-radius-large) !important;
	border-width: 3px !important;
}

h3, .medium-text {
	font-weight: normal;
	font-size: var(--font-size-medium);
	line-height: var(--line-height-medium);
	margin: var(--margin-medium);

	padding: var(--margin-medium) !important;
	border-radius: var(--border-radius-medium) !important;
	border-width: 2px !important;
}

p, .small-text {
	font-weight: normal;
	font-size: var(--font-size-small);
	line-height: var(--line-height-small);
	margin: var(--margin-small);

	border-radius: var(--border-radius-small) !important;
	border-width: 1px !important;
}

.popup-opener {
	cursor: pointer;
}

.popup-opener:hover {
	opacity: 0.5;
	transform: scale(1.1);
}

.popup-opener:active {
	opacity: 0.3;
	transform: scale(0.9);
}

/* Fade In Animation */
@keyframes fade-in {
	100% {
		opacity: 1;
	}
}

/* Fade Out Animation */
@keyframes fade-out {
	100% {
		opacity: 0.2;
	}
}




button, .icon-button {
	cursor: pointer;
	border: none;
	opacity: 1;
}

button {
	background-color: var(--primary-color);
	color: var(--background-color);
}

.icon-button {

	display: flex;
	background: none;
	padding: 0;
	margin: var(--margin-small);

	width: var(--font-size-large);
	height: var(--font-size-large);
}

/* Animate the icon button on hover */
button:hover, .icon-button:hover {
	opacity: 0.5;
	transform: scale(1.1);
}

/* Animate the icon button on click */
button:active, .icon-button:active {
	opacity: 0.3;
	transform: scale(0.9);
}

/* Elements that fade in on hover and fade out when no longer hovered */
.fade-in-on-hover {
	opacity: 0.2; /* Start hidden */
	transition: opacity 0.25s ease-out; /* Smooth transition for opacity */
}
.fade-in-on-hover:hover {
	opacity: 1; /* Make visible when hovered */
}

.icon-button img {
	width: var(--font-size-large);
}


/* Tooltip text */
*>.tooltip {
	visibility: hidden;
	opacity: 0;
  text-align: center;

	/* Position the tooltip around parent */
	position: absolute;
  z-index: -1;

	transition: opacity 0.3s ease-in-out;

	font-weight: normal;
	width: max-content;

	background-color: var(--background-color);
	border-radius: var(--border-radius-small);
	padding-left: 0.2rem;
	padding-right: 0.2rem;

	filter: drop-shadow(0 0 var(--shadow-radius-medium) var(--slight-text-color));
}

/* Show the tooltip text when you mouse over the tooltip container */
*:hover>.tooltip {
	opacity: 1;
  visibility: visible;
}


.corner-button {
	display: block;
	position: fixed;
	text-align: left;
	top: 0;
	left: 0;
	margin: var(--margin-small);
	font-size: var(--font-size-medium);
	font-weight: bold;
	color: var(--text-color);
	background-color: var(--background-color);
	border: 0;
	border-radius: var(--border-radius-medium);

	z-index: 10;
}

.corner-button .tooltip {
	margin-top: 0.1rem;
	margin-left: 0.2rem;
	color: var(--icon-color)
}

.corner-button:nth-child(2) {
	top: calc(var(--font-size-medium) + 2*var(--margin-small));
}

.corner-button:nth-child(3) {
	top: calc(2 * (var(--font-size-medium) + 2*var(--margin-small)));
}

.corner-button:nth-child(4) {
	top: calc(3 * (var(--font-size-medium) + 2*var(--margin-small)));
}

.corner-button:nth-child(5) {
	top: calc(4 * (var(--font-size-medium) + 2*var(--margin-small)));
}


/* Displays progress of task through linear gradient */
#taskDescription {
	box-sizing: border-box;
	max-width: var(--width-without-controls);

	overflow-wrap: break-word;

	margin: var(--margin-medium);
	margin-bottom: var(--margin-small);
}

#taskNextStep {
	box-sizing: border-box;
	max-width: var(--width-without-controls);

	margin-top: var(--margin-small);
	margin-bottom: var(--margin-small);
}


[contenteditable], select, input {
	width: fit-content;

	padding-left: var(--margin-small);
	padding-right: var(--margin-small);

	border: 1px solid var(--faint-text-color);
	border-radius: var(--border-radius-small);

	background-color: var(--light-background-color);

	filter: drop-shadow(0 0 var(--shadow-radius-small) var(--slight-text-color));
}

.placeholder-text,
[contenteditable]:empty:not(:focus):before {
  color: var(--faint-text-color);
  font-style: italic;
}

[contenteditable]:empty:not(:focus):before {
	cursor: text;
  content: attr(placeholder);
}

[contenteditable]:focus {
	cursor: text;
}

[contenteditable]:focus, select:focus, input:focus {
	border: 1px solid var(--text-color);
	background-color: var(--inactive-background-color);
}

select {
	font-size: inherit;
}


.flex-row {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;

	gap: inherit;
}