/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Zain:wght@200;300;400;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Zain:wght@200;300;400;700;800;900&display=swap');


:root {
	/* Margin */
	--margin-small: 0.5rem;
	--margin-medium: 1rem;
	--margin-large: 1.25rem;
	--margin-xlarge: 1.5rem;

  /* Colors */
  --primary-color: #3498db;
  --accent-color: #2ecc71;
  --light-background-color: #ffffff;
  --background-color: #ecf0f1;
  --text-color: #2c3e50;

  /* Font sizes */
  --font-size-small: 0.875rem;
  --font-size-medium: 1rem;
  --font-size-large: 1.5rem;
  --font-size-xlarge: 3.5rem;

	/* Line height */
	--line-height-small: 1.25rem;
	--line-height-medium: 1.5rem;
	--line-height-large: 1.7rem;
	--line-height-xlarge: 2.85rem;

	/* Border Radius */
	--border-radius-small: 0.25rem;
	--border-radius-medium: 0.5rem;
	--border-radius-large: 0.75rem;
	--border-radius-xlarge: 1rem;
}

* {
	font-family: 'Poppins', sans-serif;
	text-align: center;
	/* transition: 0.1s ease-out; */
}

h1 {
	font-family: 'Montserrat', sans-serif;
	font-weight: 800;
	font-size: var(--font-size-xlarge);
	line-height: var(--line-height-xlarge);
	margin: var(--margin-xlarge)
}

h2 {
	font-weight: normal;
	font-size: var(--font-size-large);
	line-height: var(--line-height-large);
	margin: var(--margin-large)
}

h3 {
	font-weight: normal;
	font-size: var(--font-size-medium);
	line-height: var(--line-height-medium);
	margin: var(--margin-medium)
}

p {
	font-weight: normal;
	font-size: var(--font-size-small);
	line-height: var(--line-height-small);
	margin: var(--margin-small)
}

.icon-button {
	cursor: pointer;

	display: flex;
	background: none;
	border: none;
	padding: 0;
	margin: var(--margin-small);

	width: var(--font-size-large);
	height: var(--font-size-large);

	opacity: 1;
}

/* Animate the icon button on hover */
.icon-button:hover {
	opacity: 0.5;
	transform: scale(1.1);
}

/* Animate the icon button on click */
.icon-button:active {
	opacity: 0.3;
	transform: scale(0.9);
}

.icon-button img {
	width: var(--font-size-large);
}

html, body, app-root, main {
	display: block;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
}


/* Tooltip text */
*>.tooltip {
	visibility: hidden;
	opacity: 0;
  color: var(--text-color);
  text-align: center;

	/* Position the tooltip around parent */
	position: absolute;
  z-index: 1;

	transition: opacity 0.3s ease-in-out;

	font-weight: normal;
	font-size: var(--font-size-small);
}

/* Show the tooltip text when you mouse over the tooltip container */
*:hover>.tooltip {
	opacity: 1;
  visibility: visible;
}